* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  }
.ej {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-self: center;
  background-color: rgb(221, 25, 15);
}